https://ploomber.io/blog/sql-on-jupyter/

In [1]:
%pip install jupysql --quiet

WARNING: You are using pip version 21.2.4; however, version 23.3.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

https://ploomber.io/blog/sql-on-jupyter/

In [2]:
%load_ext sql

In [3]:
%%sql sqlite://
CREATE TABLE languages (name, rating, change);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

Connecting to 'sqlite://'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [4]:
%sql SELECT * FROM languages

Running query in 'sqlite://'

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
|   C    | 13.13  |  1.5   |
|  Java  | 11.59  |  0.4   |
|  C++   |  10.0  |  1.98  |
+--------+--------+--------+

In [5]:
%pip install pandas seaborn pip install memory-profiler --quiet

WARNING: You are using pip version 21.2.4; however, version 23.3.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
import seaborn as sb

df = sb.load_dataset('tips')
conn = "sqlite:///example"
df.to_sql(
        'tips',            
        conn,                
        if_exists='replace'
    )

244

In [7]:
import pandas as pd
query_result = pd.read_sql("""
            SELECT total_bill, tip, sex
            FROM tips
            WHERE time='Dinner'
            """, con=conn)
query_result.head()

   total_bill   tip     sex
0       16.99  1.01  Female
1       10.34  1.66    Male
2       21.01  3.50    Male
3       23.68  3.31    Male
4       24.59  3.61  Female

In [8]:
!python3 -m memory_profiler read_tips.py
!python -m memory_profiler read_tips_chunksize.py

Could not find script read_tips.py
zsh:1: command not found: python